<div class="all-page">
    <div class="top-bar">
        <h1 translate="HOME.PAGE_TITLE" class="title-page"></h1>
    </div>

    <div class="main-container">
        <div class="menu-left">
            <div class="console-button" (click)="displayMethod('create')">
                <span>create()</span>
            </div>
            <div class="console-button" (click)="displayMethod('create-custom')">
                <span>createCustom()</span>
            </div>
            <div class="console-button" (click)="displayMethod('delete')">
                <span>delete()</span>
            </div>
            <div class="console-button" (click)="displayMethod('delete-custom')">
                <span>deleteCustom()</span>
            </div>
            <div class="console-button" (click)="displayMethod('get-all')">
                <span>getAll()</span>
            </div>
            <div class="console-button" (click)="displayMethod('get-all-custom')">
                <span>getAllCustom()</span>
            </div>
            <div class="console-button" (click)="displayMethod('get-all-with-pagination')">
                <span>getAllWithPagination()</span>
            </div>
            <div class="console-button" (click)="displayMethod('get-one')">
                <span>getOne()</span>
            </div>
            <div class="console-button" (click)="displayMethod('get-one-custom')">
                <span>getOneCustom()</span>
            </div>
            <div class="console-button" (click)="displayMethod('translate')">
                <span>translate()</span>
            </div>
            <div class="console-button" (click)="displayMethod('update')">
                <span>update()</span>
            </div>
        </div>
        <div class="right-part">
            <div class="method-header">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>
