<div class="all-page">
    <div class="top-bar">
        <h1 translate="HOME.PAGE_TITLE" class="title-page"></h1>
    </div>

    <div class="main-container">
        <div class="menu-left">
            <div class="console-button" (click)="displayMethod('create')">
                <span>create()</span>
            </div>
            <div class="console-button" (click)="displayMethod('delete')">
                <span>delete()</span>
            </div>
            <div class="console-button" (click)="displayMethod('getAll')">
                <span>getAll()</span>
            </div>
            <div class="console-button" (click)="displayMethod('getAllWithPagination')">
                <span>getAllWithPagination()</span>
            </div>
            <div class="console-button" (click)="displayMethod('getOne')">
                <span>getOne()</span>
            </div>
            <div class="console-button" (click)="displayMethod('translate')">
                <span>translate()</span>
            </div>
            <div class="console-button" (click)="displayMethod('update')">
                <span>update()</span>
            </div>
        </div>
        <div class="right-part">
            <div class="method-header">
                <div *ngIf="!method" class="home-header">
                    <h1>genese-angular demo</h1>
                </div>
                <app-get-one *ngIf="method === 'getOne'"></app-get-one>
                <app-get-all *ngIf="method === 'getAll'"></app-get-all>
            </div>

        </div>
    </div>
</div>
