<div class="all-page">
    <div class="top-bar">
        <a class="title-page" href="http://localhost:4200/">genese-angular demonstration</a>
    </div>

    <div class="main-container">
        <div class="menu-left">
<!--            TODO: implement-->
            <div class="div-button" (click)="displayMethod('create')">
                <span>create()</span>
            </div>
<!--            <div class="button" (click)="displayMethod('create-custom')">-->
<!--                <span>createCustom()</span>-->
<!--            </div>-->
            <div class="div-button" (click)="displayMethod('delete')">
                <span>delete()</span>
            </div>
            <div class="div-button" (click)="displayMethod('delete-custom')">
                <span>deleteCustom()</span>
            </div>
            <div class="div-button" (click)="displayMethod('get-all')">
                <span>getAll()</span>
            </div>
            <div class="div-button" (click)="displayMethod('get-all-custom')">
                <span>getAllCustom()</span>
            </div>
            <div class="div-button" (click)="displayMethod('get-array')">
                <span>getArray()</span>
            </div>
            <!--            TODO : implement-->
<!--            <div class="button" (click)="displayMethod('get-all-with-pagination')">-->
<!--                <span>getAllWithPagination()</span>-->
<!--            </div>-->
            <div class="div-button" (click)="displayMethod('get-one')">
                <span>getOne()</span>
            </div>
            <div class="div-button" (click)="displayMethod('get-one-custom')">
                <span>getOneCustom()</span>
            </div>
<!--            TODO : implement-->
<!--            <div class="button" (click)="displayMethod('translate')">-->
<!--                <span>translate()</span>-->
<!--            </div>-->
<!--            <div class="button" (click)="displayMethod('update')">-->
<!--                <span>update()</span>-->
<!--            </div>-->
<!--            <div class="button" (click)="displayMethod('update-custom')">-->
<!--                <span>updateCustom()</span>-->
<!--            </div>-->
        </div>
        <div class="right-part">
            <div class="method-header">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>
